@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

* {
    margin: 0 auto;
    text-align: center;
}

body {
    background-size: cover;
    color: white;
}

#container {
    margin: 10px auto;
    display: grid;
    width: 800px;
    height: 800px;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

#container div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
}

.gameTile {
    background-color: black;
}

.noAccess {
    background-color: red;
}

#gameOver {
    display: none;
}

#gameStart {
    display: flex;
}

.gameMessages {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5em;
}

h1 {
    font-size: 60px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

p {
    display: inline;
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

button {
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}

.toMove {
    box-shadow: 0 0 2px 3px #fffF00 inset;
}

.themeButton {
    border: 0;
    color: black;
}

#regularTheme {
    background-color: black;
    color: red;
}

#regularTheme:focus {
    box-shadow: 0 0 10px 4px #FFFF00;
}

#synthTheme {
    background-color: rgba(0, 0, 0, .0);
    color: rgb(39, 228, 227);
    text-shadow: 0 0 10px white;
    box-shadow: 0 0 10px 4px #D30CB8;
}

#synthTheme:focus {
    box-shadow: 0 0 10px 4px #FFFF00;
}

img {
    height: 100px;
    width: 100px;
}

.regBg {
    background-image: url(../img/greenBackground.jpg);
    background-size: 400px;
}

.regH1 {
    font-family: Arial, Helvetica, sans-serif;
}

.synthBg {
    background-image: url(../img/synth_theme/synthwave_bg.jpg);
}

.gameTileSynth {
    background-color: black;
    box-shadow: 0 0 10px 4px #D30CB8 inset;
}

.toMoveSynth {
    box-shadow: 0 0 10px 4px rgb(39, 228, 227) inset;
}

.noAccessSynth {
    background-color: white;
    box-shadow: 0 0 10px 4px #D30CB8 inset;
}

.synthH1 {
    text-transform: uppercase;
	background: linear-gradient(to top, #FFFFFF 0%, #FFFFFF 20%, #38E8FB 30%, #0058A7 40%, #021B49 45%, #021B49 50%, #FFFFFF 55%, #FFFFFF 60%, #38E8FB 65%, #0058A7 75%, #021B49 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 3px rgb(255, 90, 223);
	font-size: 80px;
    font-family: 'Montserrat', cursive;
}